[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
boto3 = "*"
moto = "*"
pytest = "*"
httpx = "*"
pytest-mock = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pynamodb = "*"
mangum = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
mypy = "*"
flake8 = "*"
